<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login page</h1>
    <form id="form">
        <input type="email" name="email" placeholder="enter your email" />
        <br/><br/>
        <input type="password" name="password" placeholder="enter your password"/>
        <br/><br/>
        <button type="submit">submit</button>
    </form>

    <h2> <a href="reg.html">Register here</a> </h2>
    

    <script>

        const submit = (e)=>{
            if(e) e.preventDefault()
            let form = e.target
            let inputs = form.getElementsByTagName('input')
            let reqBody = {}
            for(let i = 0; i < inputs.length; i++){
                let elem = inputs[i]
                reqBody[elem.getAttribute('name')] = elem.value
            }
            console.log('reqBody',reqBody);
            
            fetch('http://userapp.localhost/api/v1/user/login',{
                method: "POST",
                body: JSON.stringify(reqBody),
                headers: {"Content-Type":"application/json"}
            }).then(async(res)=>{
                let response = await res.json();
                console.log('response',response);
                if(response.response === 'ok'){
                    const { payload } = response
                    location.replace("welcome.html")
                    localStorage.setItem("userDetails", `${JSON.stringify(payload.token)}`)
                }
            }).catch((err)=>{
                console.log('err',err);
            })
            return false;
        }

        let form = document.getElementById("form")
        if(form){
            form.addEventListener("submit", submit)
        }
    </script>
</body>
</html>