<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>remove a product</h2>
    <form id="form">
        <input type="text" name="productId" placeholder="ID of product to be deleted" id="productId"/>
        <button type="submit">remove product</button>
    </form>

    <script>
        const submit = (e)=>{
            if(e) e.preventDefault()
            let form = e.target
        
            let input = document.getElementById("productId")

            console.log(input.value);
            fetch(`http://productapp.localhost/api/v1/product/${input.value}`, {
                method: "DELETE",
                headers: {"Content-Type":"application/json"}
            })
            .then(async(res)=>{
                let result = await res.json()
                if(result.response === "ok"){
                    alert("product deleted")
                }
            })
            .catch(err=>{
                alert(err.message)
            })
        }

        let form = document.getElementById("form")
        if(form){
            form.addEventListener("submit",submit)
        }
    </script>
</body>
</html>