<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index page</title>
</head>
<body>
    <a href="products.html">products page</a>
    <a href="orders.html">Orders page</a>
    <a href="login.html">login page</a>
    <a href="reg.html">Register</a>
    <a href="removeprod.html">remove prod</a>
    <h1>Welcome to my ecommerce page Admin</h1>
</body>
</html>